@import "_colours.scss";
@import "_typography.scss";

.page-heading {
  padding: $gutter 0px;
  @include media(tablet) {
    padding: ($gutter * 1.5) 0px ($gutter * 1.5);
  }

  h1 {
    @include bold-48;
  }
}

.page-heading-no-breadcrumb {
  padding-top: ($gutter * 1.5) + 44px;
}

.page-heading-with-context .context {
  @include core-24;
  color: $secondary-text-colour;
  margin: 0;
}
