@import "_colours";
@import "_typography.scss";

.question-heading {
  display: block;
  @include heading-24;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.question-heading-with-hint {
  margin-bottom: 0;
}

.question-hint {
  @include copy-19;
  margin: 0 0 5px 0;
  color: $secondary-text-colour;
}

.question-description {
  @include copy-19;
  margin: 0 0 10px 0;
  clear: left;
}

