<nav role="navigation">
  <ul class="browse-list">
    {% for item in items %}
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="{{ item.link }}">{{ item.title }}</a>
        {% if item.body %}
          <p class="browse-list-item-body">
            {{ item.body }}
          </p>
        {% endif %}
        {% if item.subtext %}
          <p class="browse-list-item-subtext">
            {{ item.subtext }}
          </p>
        {% endif %}
        {% for status in item.statuses %}
          {% if status.title %}
            <div class="browse-list-item-status-{{ status.type or 'default' }}">
              <p class="browse-list-item-status-title">
                {{ status.title }}
              </p>
              {% if status.hint %}
                <p class="browse-list-item-status-hint">
                  {{ status.hint }}
                </p>
              {% endif %}
              {% if status.list %}
                <ul class="browse-list-item-status-list">
                  {% for list_item in status.list %}
                    <li>
                      {{ list_item }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</nav>
