<nav role="navigation">
  <ul class="browse-list">
    {% for item in items %}
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="{{ item.link }}"><span>{{ item.title }}</span></a>
        {% if item.body %}
          <p class="browse-list-item-body">
            {{ item.body }}
          </p>
        {% endif %}
        {% if item.subtext %}
          <p class="browse-list-item-subtext">
            {{ item.subtext|safe }}
          </p>
        {% endif %}
        {% if item.statuses %}
          <div class="browse-list-item-statuses">
            {% for status in item.statuses %}
              {% if status.important %}
                <div class="browse-list-item-status-important">
              {% else %}
                <div class="browse-list-item-status">
              {% endif %}
                {{ status.message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
