{% if organisation %}
<div class="contact-details" itemscope itemtype="http://schema.org/Organization">
  <p class="contact-details-organisation">
    <span itemprop="name">{{ organisation }}</span>
  </p>
  {% if contact_name %}
  <p class="contact-details-block">
    <span itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        {{ contact_name }}
      </span>
    </span>
  </p>
  {% endif %}
  {% if telephone %}
  <p class="contact-details-block">
    <span itemprop="telephone">
      {{ telephone }}
    </span>
  </p>
  {% endif %}
  {% if email_address %}
  <p class="contact-details-block">
    <span itemprop="email">
      <a href="mailto:{{ email_address }}" data-event-category="Email a {{ organisation_type }}" data-event-label="{{ organisation }}">{{ email_address }}</a>
    </span>
  </p>
  {% endif %}
{% endif %}
{% if
  street_address_line_1 or
  street_address_line_2 or
  locality or
  country or
  postcode
%}
  <p class="contact-details-block{% if without_spacing %}-without-spacing{% endif %}" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    {% if street_address_line_1 or street_address_line_2 %}
    <span itemprop="streetAddress">
      {% if street_address_line_1 %}
        {{ street_address_line_1 }}
      {% endif %}
      {% if street_address_line_1 and street_address_line_2 %}
        <br />
      {% endif %}
      {% if street_address_line_2 %}
        {{ street_address_line_2 }}
      {% endif %}
    </span>
    {% endif %}
    {% if locality %}
    <span itemprop="addressLocality">
      {{ locality }}
    </span>
    {% endif %}
    {% if postcode %}
    <span itemprop="postalCode">
      {{ postcode }}
    </span>
    {% endif %}
    {% if country %}
    <span itemprop="addressCountry">
      {{ country }}
    </span>
    {% endif %}
  </p>
{% endif %}
{% if organisation %}
</div>
{% endif %}
