{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category != 'must_login' %}  {# skip showing Flask's "Please log in" message #}
        <div class="flash-message-container {{ 'banner-destructive-without-action' if category == 'error' else 'banner-success-without-action' }}">
          <p class="banner-message">
            {% if message == 'no_account' %}
              Make sure you've entered the right email address and password.
              Accounts are locked after 5 failed attempts. If you think your
              account has been locked, email
              <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>.

            {% elif message == 'password_updated' %}
              You have successfully changed your password.

            {% elif message == 'password_not_updated' %}
              Could not update password due to an error.

            {% elif message == 'supplier-role-required' %}  {# set by supplier app #}
              You must log in with a supplier account to see this page.

            {% elif message == 'buyer-role-required' %}  {# set by briefs app #}
              You must log in with a buyer account to see this page.

            {% elif message == 'email_sent' %}
              If the email address you've entered belongs to a Digital Marketplace account,
              we'll send a link to reset the password.

            {% elif message == 'token_expired' or message == 'token_invalid' %}
              This password reset link has expired. Enter your email address and we’ll send you a new one.
              Password reset links are only valid for 24 hours.

            {% else %}
              {{ message }}

            {% endif %}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
