 <ol class="instruction-list" {% if start %}start="{{start}}"{% endif %}>
    {% for item in items %}
      <li class="instruction-list-item
        {% if verbose %}
          divider
        {% endif %}">
        {% if item.body %}
          {% if verbose %}
            <h2 class="instruction-list-item-body">{{ item.body }}</h2>
          {% else %}
            <p class="instruction-list-item-body">
            {{ item.body }}
            </p>
          {% endif %}
        {% endif %}
        {% if item.top %}
          <p class="instruction-list-item-top">
            {{ item.top }}
          </p>
        {% endif %}
        {% if item.sublist_collection %}
          {% for collection in item.sublist_collection %}
            <p class="lead-in">{{ collection.lead_in }}</p>
            <ol class="sublist" {% if collection.start %}start="{{collection.start}}" {% endif %}>
            {% for sublist in collection.sublists %}
              {% if sublist.body %}
                <li>{{ sublist.body }}</li>
              {% endif %}
            {% endfor %}
            </ol>
          {% endfor %}
        {% endif %}
        {% if item.documents %}
          {% for field in item.documents %}
            {%
              with
              items = [
                {
                    "title": field.title,
                    "link": field.link,
                    "file_type": field.file_type,
                    "download": field.download
                }
            ]
            %}
              {% include 'toolkit/documents.html' %}
            {% endwith %}
          {% endfor %}
        {% endif %}
        {% if item.uploads %}
          {% for upload in item.uploads %}
            {%
              with
              name =  upload.name,
              error = upload.error,
              value = upload.value,
              file_type = upload.file_type
            %}
            {% if PAGES_BUILDER %}
              {% include 'forms/upload.html' %}
            {% else %}
              {% include 'toolkit/forms/upload.html' %}
            {% endif %}
            {% endwith %}
          {% endfor %}
        {% endif %}
        {% if item.custom_body_list %}
          {% for custom_body in item.custom_body_list %}
            {% if custom_body.type == 'text' %}
                <p class="instruction-list-item-top{% for class in custom_body.class %} {{ class }}{% endfor %}">{{ custom_body.text|safe }}</p>
            {% elif custom_body.type == 'action' %}
                <a class="instruction-list-item-action button-save" href="{{ custom_body.href }}" 
                {% if custom_body.analytics %}data-analytics="{{ custom_body.analytics }}" {% endif %} 
                {% if custom_body.analytics_category %}data-analytics-category="{{ custom_body.analytics_category }}" {% endif %} 
                {% if custom_body.analytics_action %}data-analytics-action="{{ custom_body.analytics_action}}" {% endif %} 
                {% if custom_body.analytics_label %}data-analytics-label="{{ custom_body.analytics_label }}" {% endif %}
                {% if custom_body.analytics_target %} data-analytics-target-selector="{{ custom_body.analytics_target }}" {% endif %}
                >{{ custom_body.label }}</a>
            {% elif custom_body.type == 'box' %}
                <p class="instruction-list-item-box {{ custom_body.style }}">{{ custom_body.label }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if item.bottom %}
          <p class="instruction-list-item-bottom">
            {{ item.bottom }}
          </p>
        {% endif %}
        {% if item.important %}
          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
              {{ item.important }}
            </strong>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
