 <ol class="instruction-list" {% if start %}start="{{start}}"{% endif %}>
    {% for item in items %}
      <li class="instruction-list-item
        {% if verbose %}
          divider
        {% endif %}">
        {% if item.body %}
          {% if verbose %}
            <h2 class="instruction-list-item-body">{{ item.body }}</h2>
          {% else %}
            <p class="instruction-list-item-body">
            {{ item.body }}
            </p>
          {% endif %}
        {% endif %}
        {% if item.top %}
          <p class="instruction-list-item-top">
            {{ item.top | safe }}
          </p>
        {% endif %}
        {% if item.sublist_collection %}
          {% for collection in item.sublist_collection %}
            <p class="lead-in">{{ collection.lead_in }}</p>
            <ol class="sublist" {% if collection.start %}start="{{collection.start}}" {% endif %}>
            {% for sublist in collection.sublists %}
              {% if sublist.body %}
                <li>{{ sublist.body | safe }}</li>
              {% endif %}
            {% endfor %}
            </ol>
          {% endfor %}
        {% endif %}
        {% if item.documents %}
          {% for field in item.documents %}
            {%
              with
              items = [
                {
                    "title": field.title,
                    "link": field.link,
                    "file_type": field.file_type,
                    "download": field.download
                }
            ]
            %}
            {% if PAGES_BUILDER %}
              {% include 'documents.html' %}
            {% else %}
              {% include 'toolkit/documents.html' %}
            {% endif %}
            {% endwith %}
          {% endfor %}
        {% endif %}
        {% if item.uploads %}
          {% for upload in item.uploads %}
            {%
              with
              name =  upload.name,
              error = upload.error,
              value = upload.value,
              file_type = upload.file_type
            %}
            {% if PAGES_BUILDER %}
              {% include 'forms/upload.html' %}
            {% else %}
              {% include 'toolkit/forms/upload.html' %}
            {% endif %}
            {% endwith %}
          {% endfor %}
        {% endif %}
        {% if item.bottom %}
            <p class="instruction-list-item-bottom">
              {{ item.bottom | safe }}
            </p>
        {% endif %}
        {% if item.important %}
        <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            {{ item.important }}
          </strong>
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
