<div class="temporary-message{% if not messages %}-without-messages{% endif %}{% if main %}-main{% endif %}">
  <{% if header_level %}{{ header_level }}{% else %}h3{% endif %} class="temporary-message-heading{% if main %}-main{% endif %}">
    {{ heading }}
  </{% if header_level %}{{ header_level }}{% else %}h3{% endif %}>
  {%- for message in messages %}
  <p class="temporary-message-message{% if main %}-main{% endif %}">
    {{ message }}
  </p>
  {%- endfor %}
  {% if link %}
  <a href="{{ link.url }}">{{ link.label }}</a>
  {% endif %}
  {% if button %}
    {%
      with
      advice = true,
      temporary_message = true,
      type = button.type,
      label = button.label
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}
  {% endif %}
</div>
