<div class="user-research-banner">
  <div class="wrapper">
    <p>
      <strong class="banner-heading">Help us improve the Digital Marketplace</strong>
      <a 
        href="#" 
        class="user-research-banner-close-btn"
        data-analytics="trackEvent"
        data-analytics-category="user-research"
        data-analytics-action="Close banner"
      >Close</a>
    </p>
    <p>
      <a 
        href="{{ url_for('external.user_research_consent') }}"
        data-analytics="trackEvent"
        data-analytics-category="user-research"
        data-analytics-action="View sign up to user research screen"
      >Sign up to be a potential user research participant</a>
    </p>
  </div>
</div>
