<div class="footer-categories">
  <div class="footer-about">
    <h2>
      Contact
    </h2>
    <ul>
      <li>
        <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">Digital Marketplace support</a>
      </li>
    </ul>
  </div>
  <div class="footer-buyers">
    <h2>
      About the Digital Marketplace
    </h2>
    <ul>
      <li>
        <a href="https://www.gov.uk/government/collections/digital-marketplace-buyers-and-suppliers-information">Digital Marketplace information</a>
      </li>
      <li>
        <a href="https://digitalmarketplace.blog.gov.uk">Digital Marketplace blog</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/the-g-cloud-framework-on-the-digital-marketplace">G-Cloud framework</a>
      </li>
      <li>
        <a href="/g-cloud/suppliers">G-Cloud supplier A–Z</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/the-crown-hosting-data-centres-framework-on-the-digital-marketplace">Crown Hosting framework</a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/crown-commercial-service">Crown Commercial Service</a>
      </li>
    </ul>
  </div>
  <div class="footer-suppliers">
    <h2>
        Guidance
    </h2>
    <ul>
      <li>
        <a href="https://www.gov.uk/guidance/digital-marketplace-buyers-guide">Digital Marketplace buyers’ guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-marketplace-suppliers-guide">Digital Marketplace suppliers’ guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide">G-Cloud buyers’ guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">G-Cloud suppliers’ guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-buyers-guide">Digital Outcomes and Specialists buyers’ guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/how-to-hire-user-research-labs-on-the-digital-marketplace">Digital Outcomes and Specialists user research labs buyers' guide</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-suppliers-guide">Digital Outcomes and Specialists suppliers’ guide</a>
      </li>
    </ul>
  </div>
  <hr/>
</div>
