@import "_colours.scss";
@import "_typography.scss";
@import "_measurements.scss";
@import "_shims.scss";
@import "_conditionals.scss";

.browse-list {
  padding: 0;
}

.browse-list-item {
  list-style: none;
  margin-bottom: $gutter;
}

.browse-list-item-link,
a.browse-list-item-link {

  display: inline;
  @include heading-24;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid; // No border colour, is inherited from text colour
  position: relative;
  top: -12px;

  @include ie-lte(9) {
    text-decoration: underline;
    border-bottom: none;
    top: 0;
  }

  span {

    position: relative;
    top: 12px;

    @include ie-lte(9) {
      top: 0;
    }

  }

  &:visited {
    color: $link-visited-colour;
  }

  &:hover {
    color: $link-hover-colour;
  }

  &:active,
  &:focus {

    outline: none;
    background: none;

    @include ie-lte(9) {
      background: $yellow;
      outline: 3px solid $yellow;
    }

    span {

      background: $yellow;
      outline: 3px solid $yellow;

      @include ie-lte(9) {
        background: none;
        outline: none;
      }

    }

  }

}

.browse-list-item-body {
  margin: 5px 0 0 0;
  @include core-19;
}

.browse-list-item-subtext {
  margin: 0;
  @include copy-16;
  color: $secondary-text-colour;
}
