@import "_colours.scss";
@import "_typography.scss";
@import "_measurements.scss";
@import "_shims.scss";

.browse-list {
  padding: 0;
}

.browse-list-item {
  list-style: none;
  margin-bottom: $gutter;
}

.browse-list-item-link {
  @include inline-block;
  @include heading-27;
  font-weight: bold;
  text-decoration: none;
}

.browse-list-item-body {
  margin: 0;
  @include copy-19;
}

.browse-list-item-subtext {
  margin: 0;
  @include core-14;
  color: $secondary-text-colour;
}
