@import "_colours.scss";
@import "_typography.scss";
@import "_measurements.scss";
@import "_shims.scss";
@import "_conditionals.scss";

.browse-list {
  padding: 0;
}

.browse-list-item {
  list-style: none;
  margin-bottom: $gutter;
}

.browse-list-item-link,
a.browse-list-item-link {

  display: inline;
  @include heading-24;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid; // No border colour, is inherited from text colour
  position: relative;
  top: -12px;

  @include ie-lte(9) {
    text-decoration: underline;
    border-bottom: none;
    top: 0;
  }

  span {

    position: relative;
    top: 12px;

    @include ie-lte(9) {
      top: 0;
    }

  }

  &:visited {
    color: $link-visited-colour;
  }

  &:hover {
    color: $link-hover-colour;
  }

  &:active,
  &:focus {

    outline: none;
    background: none;

    @include ie-lte(9) {
      background: $yellow;
      outline: 3px solid $yellow;
    }

    span {

      background: $yellow;
      outline: 3px solid $yellow;

      @include ie-lte(9) {
        background: none;
        outline: none;
      }

    }

  }

}

.browse-list-item-body {
  margin: 5px 0 0 0;
  @include core-19;
}

.browse-list-item-subtext {
  margin: 0;
  @include copy-16;
  color: $secondary-text-colour;
}

%browse-list-item-status {

  border-left: 5px solid;
  padding-left: $gutter-half;
  margin: 10px 0 0 0;
  padding-bottom: 0 0 10px 0;
  @include bold-19;

  .browse-list-item-status-title {
    margin: 0;
  }

  .browse-list-item-status-hint {
    @include core-19;
    color: $secondary-text-colour;
    margin: 0;
  }

  .browse-list-item-status-list {
    @include core-19;
    list-style: disc;
    padding: 0 0 0 20px;
  }

}

.browse-list-item-status-quiet {
  @extend %browse-list-item-status;
  @include core-19;
  color: $secondary-text-colour;
  border-color: $border-colour;
}

.browse-list-item-status-default {
  @extend %browse-list-item-status;
  color: $text-colour;
  border-color: $border-colour;
}

.browse-list-item-status-happy {
  @extend %browse-list-item-status;
  color: $button-colour;
}

.browse-list-item-status-angry {
  @extend %browse-list-item-status;
  color: $red;
}
