@import "_colours.scss";
@import "design-patterns/_buttons.scss";
@import "_typography.scss";

.button-save {
  @include button;
  @include core-24;
  display: block;
  margin: 0 0 25px 0;

  @include media(tablet) {
    margin-top: 55px;
  }
}

a.button-save {
  @include inline-block;
}

.button-secondary {
  @include button($grey-3);
}

.button-destructive {
  @include button($red);
}
