@import "_colours.scss";
@import "_typography.scss";
@import "_measurements.scss";

.contact-details-organisation {
  @include core-16;
  font-weight: bold;
  margin: 0 0 5px;
}

%contact-details-block,
.contact-details-block {

  margin: 0 0 5px;

  span {
    display: block;
  }

}

.contact-details-block-without-spacing {
  @extend %contact-details-block;
  margin: 0;
}
