@import "_typography.scss";
@import "_colours.scss";
@import "_grid_layout.scss";
@import "_measurements.scss";

#footer {

  .footer-categories, .footer-meta {
    @extend %grid-row;
  }

  .footer-categories {

    .footer-about,
    .footer-guidance {
      @include grid-column( 1/2 );
      @include media(tablet) {
        padding-bottom: $gutter * 2;
      }
    }

    h2 {

      @include bold-19;
      padding: 10px 0 0;
      margin: 0;
      border-bottom: none;

      @include media(tablet) {

        padding: 0 0 20px;
        border-bottom: 1px solid #a1acb2;

      }

    }

    ul {
      @include core-16;
      list-style: none;
      padding: 0;
      margin: 0;

      @include media(tablet) {

        margin-top: $gutter-half;

      }

      li {
        display: block;
        margin-bottom: 5px;

        padding: 10px 0 0;
        margin: 0 $gutter-half 5px 0;

        @include media(tablet){
          padding: $gutter-half 0 0;
          margin: 0 $gutter-half 0 0;
        }
      }
    }

    hr {
      clear: both;
      margin: $gutter 0;
      border: 1px solid $border-colour;
      border-width: 1px 0 0 0;

      @include media(tablet) {
        margin-top: 0;
      }
    }

  }

  .footer-meta {
    padding-left: $gutter-half;
    padding-right: $gutter-half;
    @include media(tablet) {
      padding-left: 0;
      padding-right: 0
    }
    /* Temporary fix:
       chrome is breaking this layout when font-size-adjust is set */
    font-size-adjust: none;

    p {
      @include core-16;
      margin: 0 0 20px 0;
    }

    .terms-and-conditions {
      display: block;
      @include core-16;
      margin: 0 0 20px 0;
    }

  }

  .footer-meta .footer-meta-inner {

    .open-government-licence p {

      padding-bottom: 0;

      a {
        font-size: 16px;
      }
    }
  }
}
