@import "_typography.scss";
@import "_measurements.scss";
@import "_colours.scss";
@import "shared_scss/_lists.scss";


%framework-notice,
.framework-notice {
  @include core-16;

  .framework-notice-heading {
    @include bold-24;
    margin-bottom: $gutter-half;
  }

  .framework-notice-subheading {
    color: $secondary-text-colour;
    display: block;
    margin: 0 0 5px 0;
  }

  p {
    margin: 0;
    padding: 0 0 10px 0;

    a {
      text-decoration: underline;
    }
  }

  ul {
    @include list-spacing($list-margin-top: 0px);
    margin: 0;
    padding: 0 0 10px 20px;
    list-style-type: disc;
  }
}
