@import "colours";
@import "measurements";
@import "conditionals";
@import "typography";

.link-button,
a.link-button {

  background: $link-hover-colour;
  display: block;
  padding: 6px 0;
  color: $white;
  margin: $gutter 0 0 0;

  @include media(tablet){
    margin: 75px 0 0;
  }

  @include core-24;
  text-align: center;

  &:hover {
    background: $link-colour;
  }

}
