@import "_colours.scss";
@import "_typography.scss";
@import "_measurements.scss";

// Mainly taken from http://govuk-component-guide.herokuapp.com/component/title
.page-heading,
%page-heading {
  margin: $gutter-half 0;

  @include media(tablet) {
    margin: ($gutter * 1.5) 0 ($gutter * 1.5); // Specific to Digital Marketplace
  }

  .context {
    @include core-24;
    color: $secondary-text-colour;
    margin: 0;
  }

  h1 {
    @include bold-48;
  }
}

.page-heading-no-breadcrumb {
  @extend %page-heading;
  margin-top: $gutter-half + 40px;

  @include media(tablet) {
    margin-top: ($gutter * 1.5) + 44px;
  }
}

.page-heading-smaller {

  @extend %page-heading;

  h1 {
    @include bold-36;
  }

}
