@import "colours";

.user-research-banner {
  background-color: $govuk-blue;
  color: $white;
  display: none;

  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;

    a {
      color: $white;
    }

    p {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .user-research-banner-close-btn {
      float: right;
    }

  }

}
