@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.grid-row {
  margin: 0 -15px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row {
  margin: 0; }
  .grid-row .third-column {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 641px) {
      .grid-row .third-column {
        float: left;
        width: 33.33333%; } }
  .grid-row .two-third-column {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 641px) {
      .grid-row .two-third-column {
        float: left;
        width: 66.66667%; } }
  .grid-row .quarter-column {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 641px) {
      .grid-row .quarter-column {
        float: left;
        width: 25%; } }
  .grid-row .half-column {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 641px) {
      .grid-row .half-column {
        float: left;
        width: 50%; } }

.grid-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid black 1px;
  min-height: 40em; }
