@import "_typography.scss";
@import "_measurements.scss";

// All heading styles, except heading-xmedium, are copied from GOVUK Elements as of this commit:
// https://github.com/alphagov/govuk_elements/commit/7aaa646a59019b6a90e8a88ddc81ac61950b9efe
//
// Changes to make them fit Digital Marketplace styles include
// 1. move from classes to placeholders to allow the styles to be shared between selectors
// 2. only include the heading sizes below 36px as this is only used for page headings
// 3. use pixels instead of ems to match existing styles

%heading-xmedium {
  @include bold-27();

  margin-top: $gutter + ($gutter / 6);
  margin-bottom: $gutter-one-third;

}

%heading-small {
  @include bold-19();

  margin-top: $gutter-one-third;
  margin-bottom: ($gutter / 6);

  @include media(tablet) {
    margin-top: $gutter-two-thirds;
  }

}
