@import "_colours.scss";
@import "_measurements.scss";
@import "_conditionals.scss";

%temporary-message {
  background: $govuk-blue;
  color: $white;
  padding: $gutter-half $gutter-half 18px $gutter-half;

  a, a:visited {
    color: $white;
  }

  a:hover, a:active {
    color: $light-blue-50;
  }
}
