@import "colours";
@import "typography";
@import "shared_scss/_dmspeak.scss";
@import "questions";

%hint {
  @extend %markdown-description;
  display: block;
  color: $secondary-text-colour;
  clear: both;

  p:last-child {
    padding-bottom: 0;
  }
}

.hint {
  @extend %hint;
  @extend %question-meta-spacing;
}

.hint-underneath {
  @extend %hint;

  padding-top: 18px;

  @include media(tablet) {
    padding-top: 17px;
  }
}
