@import "_typography.scss";
@import "_css3.scss";
@import "_colours.scss";


.govuk-option-select.filter-field-text {

  margin-bottom: $gutter;
  padding: 5px;

  .container-head {
    padding-left: 0;
    padding-right: 0;
  }

  .option-select-label {
    display: block;
  }

  input[type="search"] {
    @include core-16;
    @include box-sizing(border-box);
    position: relative;
    padding: 6px;
    border: 1px solid $border-colour;
    z-index: 3;
    background: #fff;
    width: 100%;

    @include ie-lte(7){
      padding-left: 0;
    }

    &.focus,
    &:focus {
      outline-offset: -2px;
    }
  }
}
