@import "_typography.scss";
@import "_css3.scss";
@import "_colours.scss";


.govuk-option-select.filter-field-text {

  margin-bottom: $gutter;
  padding: 5px;

  .container-head {
    padding-left: 0;
    padding-right: 0;
  }

  .option-select-label {
    display: block;
  }

  .container-search {
    position: relative;
  }

  input {
    height: 36px;
  }

  input[type="search"] {
    @include core-16;
    @include box-sizing(border-box);
    position: relative;
    padding: 6px;
    border: 1px solid $border-colour;

    z-index: 3;
    background: #fff;

    @include ie-lte(7){
      padding-left: 0;
    }

    &.focus,
    &:focus {
      outline-offset: -3px;
    }

    .js-enabled & {
      width: 86%;
      @include calc(width, "100% - 36px");
    }
  }

  input.submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;

    border: 1px solid $mainstream-brand;
    border-width: 0 0 0 1px;
    @include ie-lte(7){
      border-width: 1px;
    }
    border-left-color: #222;
    @include border-radius(0);

    overflow: hidden;
    text-indent: -5000px;

    color: $white;
    background-color: $mainstream-brand;
    background-image: file-url("search-button.png");
    background-repeat: no-repeat;
    background-position: 0 50%;

    @include device-pixel-ratio() {
      background-size: 52.5px 35px;
      background-position: 100% 50%;
    }

    @include ie-lte(7) {
      background-image: none;
      width: auto;
    }

    &:hover {
      background-color: darken($mainstream-brand, 5%);
    }
  }

  @media screen and (max-width: 379px) {
    display: none;
    width: 100%;

    #site-search-text {
      width: 80%;
    }
  }
  &.js-visible { display: block; }

}
