// Taken from https://github.com/alphagov/finder-frontend
// Specifically: https://github.com/alphagov/finder-frontend/blob/master/app/assets/stylesheets/finder_frontend.scss#L170
// Version: https://github.com/alphagov/finder-frontend/commit/39494b5904de51a1b913f659289d2df87e9936e6

@import "_colours.scss";
@import "_measurements.scss";
@import "_device-pixels.scss";
@import "_shims.scss";
@import "_typography.scss";

@import "../_not-ie-conditional.scss";

.filter {
  margin-bottom: $gutter;
  background-color:$grey-3;
  padding: 0 5px;

  &:focus {
    outline: 3px solid #ffbf47;
  }

  .legend {
    @include core-19;
    @include inline-block;
    margin-right:40px;
    font-weight:bold;
    padding-top: $gutter-one-third;
  }
}
.radio-filter,
.text-filter {
  padding: 0 $gutter-one-third;

  label {
    margin-right:$gutter-one-third;
    @include inline-block;
  }
}
.radio-filter input {
  width:14px;
}

.checkbox-filter {
  padding-bottom: 5px;
  &:hover {
    background-color:$grey-2;
  }

  /* Only apply these styles to chrome/firefox/safari and ie8 upwards
     this is because checkbox filters are always open on ie6/7 so no
     need to have closed styles or toggles. */
  @include not-ie-lte(7) {
    .js-enabled & {
      .head {
        cursor:pointer;
      }
      .toggle {
        height: 15px;
        width: 23px;
        @include inline-block;
        background-image: file-url('toggle-sprite.png');
        background-repeat:no-repeat;
        background-position:0 3px;

        @include device-pixel-ratio() {
          background-image:file-url('toggle-sprite-retina.png');
          background-size: 32px 50px;
        }
      }
      &.closed {
        .checkbox-container {
          position:absolute;
          left:-9999px;
          padding:0;
          margin:0;
        }
        .toggle {
          background-position: 0 -33px;
        }
      }
    }
  }
  /* Redefine scrollbars so they are always visible in scrolling checkbox lists */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .head {
    @extend %contain-floats;
    padding: 0 5px;
    position:relative;

    .controls {
      position:absolute;
      right:5px;
      top:10px;
      .clear-selected {
        @include inline-block;
        margin-right: 5px;

        &.js-hidden {
          left: -9999em;
          position: relative;
          height:0px;
          overflow:hidden;
        }
      }
    }
  }
  .checkbox-container {
    position:relative;
    margin-top: 5px;
    background-color: $white;
    height:200px;
    overflow-y:scroll;
    overflow-x:hidden;

    ul {
      margin:0;
      padding:0;
      list-style:none;
      ul {
        padding-left: $gutter-two-thirds;
      }
    }
    label {
      @include inline-block;
      padding: 7px 0 7px 30px;
      width: 90%;
      border-bottom: 1px solid $border-colour;

      &:hover {
        background-color: $grey-4;
      }
    }
    /* IE6 doesn't support psuedo selectors so scoping to checkbox-container instead of using a psuedo selector */
    input {
      margin-left: -23px;
      vertical-align: top;
      position:absolute;
    }
  }
}
