@import "_colours";
@import "_typography.scss";
@import "shared_scss/_dmspeak.scss";

.question,
%question {
  @extend %contain-floats;
  margin: 15px 0 30px 0;
  clear: both;
}

.question-first {
  @extend %question;
  margin-top: 0;
}

.question-heading,
%question-heading {
  display: block;
  @include heading-24;
  margin: 0 0 10px 0;

  p {
  margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.question-heading-with-hint {
  @extend %question-heading;
  margin-bottom: 0;
}

.question-description {
  @include copy-16;
  margin: 0 0 0 0;
  clear: left;
}

.question-number {

  @include bold-24;
  display: inline;
  word-spacing: -0.1em;
  margin-right: 0.2em;
  float: left;

  &:after {
    content: ".";
  }

  @include media(1080px) {

    $left: -100px;

    float: none;
    position: relative;
    height: 50px;
    display: block;
    margin: 20px 0 -50px 0;
    left: $left;
    width: 80px;
    text-align: right;

    .validation-wrapper & {
      left: $left - 20px;
    }

    &:after {
      content: "";
    }

  }
}

.question-optional {
  @include core-19;
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;
}

.question-advice {
  @extend %markdown-description;
  margin-top: 10px;
  display: block;
}

.question-optional + .question-advice {
  margin-top: 0;
}
