// Copied from GOVUK Elements
// Version: https://github.com/alphagov/govuk_elements/commit/391eab1554b05629804837ac0f87583f5b88b1a7
//
// Large hit area
// Radio buttons & checkboxes

@import "colours";
@import "measurements";
@import "conditionals";
@import "typography";

// By default, block labels stack vertically
.selection-button {

  @include core-19; /* Specific to Digital Marketplace */
  display: block;
  float: none;
  clear: left;
  position: relative;

  background: $panel-colour;
  border: 1px solid $panel-colour;
  padding: 10px $gutter-half 10px ($gutter * 1.5); /* Specific to Digital Marketplace */
  margin-top: 10px;
  margin-bottom: 10px;

  cursor: pointer; // Encourage clicking on block labels

  @include media(tablet) {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    // width: 25%; - Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    top: 12px;
    left: $gutter-half;
    cursor: pointer;
  }

  // Change border on hover
  &:hover {
    border-color: $black;
  }
}

.selection-button-boolean,
.selection-button-inline {
  clear: none;
  margin-right: $gutter-half;
}

// Selected and focused states

// Add selected state
.js-enabled label.selection-button-selected {
  background: $white;
  border-color: $black;
}

// Add focus to block labels
.js-enabled label.selection-button-focused {
  outline: 3px solid $yellow;
}

// Remove focus from radio/checkboxes
.js-enabled .selection-button-focused input:focus {
  outline: none;
}

// Styles specific to Digital Marketplace
.selection-button-with-description {
  margin-top: 15px;
}
