@import "_colours.scss";
@import "_typography.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_digital-marketplace-colours.scss";

.summary-item-heading,
%summary-item-heading {
  @include core-24;
  font-weight: bold;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  @include box-sizing(border-box);
}

.summary-item-heading-first {
  @extend %summary-item-heading;
  padding-top: 0;
}

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right;
}

.summary-item-top-level-action {
  @include copy-19;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10;

  @include ie(6) {
    zoom: 1;
  }
}

%summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid $grey-3;
}

p.summary-item-body {
  @extend %summary-item-body;
  @include core-19;
  border-top: 1px solid $grey-3;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
}

%summary-item-row {
  @include core-19;
  text-align: right;
  border-top: 1px solid $grey-3;
}

table.summary-item-body {
  @extend %summary-item-body;
  border-collapse: collapse;
  border-spacing: 0;

  thead tr {
    position: absolute;
    left: -9999em;
  }

  tbody {
    .summary-item-row {
      @extend %summary-item-row;
    }

    td {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: top;
    }
  }
}

%summary-item-field {
  vertical-align: middle;
  text-align: left;
}

.summary-item-field-name {
  @extend %summary-item-field;
  width: 33.333%;
  padding-right: 25px;
}

.summary-item-field-headings {

  tr {
    position: absolute;
    left: -9999em;
  }

}

.summary-item-field-content {
  @extend %summary-item-field;
  width: 66.666%;
  padding-left: 25px;

  ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px;
  }
}

.summary-item-field-action {
  @extend %summary-item-field;
  padding-left: 20px;
}

.summary-item-row-incomplete {
  @extend %summary-item-row;

  .summary-item-field-name {

    span {
      padding-left: 10px;
      border-left: 3px solid $accessible-orange;
    }

  }

  .summary-item-field-content {
    color: $accessible-orange;
    a {
      color: $accessible-orange;
    }
  }
}
