@import "typography";

// The following placeholders must be present in your main stylesheet:
// - shared_placeholders/_placeholders.scss


.file-upload-existing-value {
  @include core-19;
  margin: 0;
}

.file-upload-input {
  @include core-19;
  @extend %question-meta-spacing;

  padding-bottom: 0;
  margin-bottom: 0;
}
