@import "colours";
@import "typography";

.validation-masthead {

  border: 5px solid $red;
  padding: 15px 15px 20px 15px;
  margin-bottom: 30px;

  .validation-masthead-heading {
    @include heading-24;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .validation-masthead-description {
    @include copy-19;
    margin-bottom: 5px;
  }

  .validation-masthead-link,
  .validation-masthead-link:link,
  .validation-masthead-link:visited {
    display: block;
    @include core-19;
    font-weight: bold;
    color: $red;
  }

}

.validation-wrapper {

  border-left: 5px solid $red;
  padding: 0 0 0 15px;
  margin: 15px 0 30px 0;
  overflow: hidden;

  .question {
    margin: 0;
  }

  .question-heading,
  .question-heading-with-hint {
    padding-top: 0;
  }

}

.validation-message {
  display: block;
  @include core-19;
  font-weight: bold;
  color: $red;
  margin: 5px 0 7px 0;
}
