@import "_colours.scss";
@import "_typography.scss";
@import "_conditionals.scss";

.word-count {
  margin: 0 0 20px 0;
}

.word-count-counter {
  text-align: right;
  @include core-19;
  line-height: 1;
  margin: 5px 0 0 0;
  padding: 0;
  color: $secondary-text-colour;
  width: 100%;
}
