@import "_typography.scss";
@import "lists.scss";

.dmspeak {
   @include core-19;

  p {
    padding-bottom: 10px;
  }
}

%markdown-description {
   @include core-19;
   padding-bottom: 10px;

  p {
    margin: 0;
    padding-bottom: 10px;
  }

  p + ul {
    @include list-spacing($list-margin-top: -10px, $list-item-margin-bottom: 0)
  }

  ul {
    margin-bottom: 10px;
    list-style-type: disc;
    padding-left: 25px;
  }
}
