@import "typography";
@import "lists";

// The following placeholders must be present in your main stylesheet:
// - shared_placeholders/_dm-typography.scss

.dmspeak {
   @include core-19;

  p,
  ul, ol {
    padding-bottom: 10px;
  }

  .heading-xmedium {
    @extend %heading-xmedium;
  }

  .heading-small {
    @extend %heading-small;
  }

  /* The first heading in a .dmspeak section has nothing above it to be separated from */
  > h2:first-child,
  > h3:first-child {
    margin-top: 0;
  }

}

%markdown-description {
  @include core-19;

  p {
    margin: 0;
    padding-top: 10px;
  }

  p + ul, 
  p + ol {
    @include list-spacing($list-item-margin-bottom: 0)
  }

  p:first-child {
    padding-top: 0;
  }

  ul, ol {
    padding-bottom: 10px;
    padding-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
  }
}
