<fieldset class="checkbox-tree__selection-buttons">
  <legend>
    <h2>{{ name }}</h2>
  </legend>
  {% for supercategory in options %}
    {% set id_prefix = 'input-{}-{}'.format(name, supercategory.label|replace(" ", "")) %}
    {% if supercategory.options %}
      <details
          {% for _o in supercategory.options %}
            {% if not is_open %}
              {% set is_open = _o.label in (value or []) %}
              {{ 'open' if is_open }}
            {% endif %}
          {% endfor %}>
        <summary>
          <h2 class="categories-heading">{{ supercategory.label }}</h2>
          <span class="categories-summary">{{ supercategory.options|length }} categories</span>
        </summary>
        <div class="panel categories"> 
          <fieldset class="question related-information" id="{{ '{}-{}'.format(name, supercategory.label|replace(' ', '')) }}">
            <legend>
              <span class="question-heading">
                {{ question }}
              </span>
            </legend>

            {% for option in supercategory.options %}
              {%
                with
                input_value = option.value if 'value' in option else option.label,
                id="input-{}-{}".format(id_prefix, loop.index),
                input_type="checkbox",
                question_advice=None,
                hint=None
              %}

                {# TODO: PLS FIX #}
                {% if PAGES_BUILDER %}
                  {% include 'forms/_selection-button.html' %}
                {% else %}
                  {% include 'toolkit/forms/_selection-button.html' %}
                {% endif %}

              {% endwith %}
            {% endfor %}

          </fieldset>
        </div>
      </details>
    {% else %}
      {% set option = supercategory %}
      {%
        with
        input_value = option.value if 'value' in option else option.label,
        id="input-{}-{}".format(id_prefix, loop.index),
        input_type="checkbox",
        question_advice=None,
        hint=None
      %}

        {# TODO: PLS FIX #}
        {% if PAGES_BUILDER %}
          {% include 'forms/_selection-button.html' %}
        {% else %}
          {% include 'toolkit/forms/_selection-button.html' %}
        {% endif %}

      {% endwith %}
    {% endif %}
  {% endfor %}
</fieldset>
