{% if type in ["boolean", "radio"] %}
  {% set is_selected = (input_value == value) %}
{% else %}
  {% set is_selected = (value and (input_value in value)) %}
{% endif %}
<div class="multiple-choice"{% if input_value in followup %} data-target="{{ followup[input_value] | join(' ') }}"{% elif option.reveal %} data-target="{{ option.reveal['name'] }}-target"{% endif %}>
  <input
    type="{{ input_type }}"
    name="{{ name }}"
    id="{{ id }}"
    value="{{ input_value }}"
    {% if aria_controls %}aria-controls="{{ aria_controls }}"{% endif %}
    {% if question_advice or hint %}aria-describedby="{{ [question_advice_id, answer_advice_id]|join(' ')|trim }}"{% endif %}
    {% if is_selected %}checked="checked"{% endif %}
  />
  <label class="{{ input_type }}{% if is_selected %} selected{% endif %}{% if last %} last-of-type{% endif %}" for="{{ id }}">
    {{ option.label }}
    {% if option.description %}
      <p class="question-description">
        {{ option.description }}
      </p>
    {% endif %}
  </label>
</div>

{% if option.reveal %}
  {% set reveal_question = option.reveal['question']%}
  {% set reveal_name = option.reveal['name'] %}
  {% set reveal_value = option.reveal['value'] %}
  {% set reveal_error = option.reveal['error'] %}
  {% set reveal_hint = option.reveal['hint'] %}
  <div class="panel {% if reveal_error %} form-group-error{% endif %} panel-border-narrow js-hidden" id="{{ reveal_name }}-target">
    <label class="form-label" for="{{ reveal_name }}">
        {{ reveal_question }}
        {% if reveal_hint %}
          <span class="hint">{{ reveal_hint }}</span>
        {% endif %}
        {% if reveal_error %}
          <span class="validation-message">{{ reveal_error }}</span>
        {% endif %}
    </label>
    <div id="{{ reveal_name }}">
      <input class="form-control{% if reveal_error %} form-control-error{% endif %}" name="{{ reveal_name }}" type="text" value="{{ reveal_value }}">
    </div>
  </div>
{% endif %}
