{% if hint %}
  {% set answer_advice_id="input-" + name + "-answer-advice" %}
{% endif %}
{% if question_advice %}
  {% set question_advice_id="input-" + name + "-question-advice" %}
{% endif %}

{% if error %}
  <div class="validation-wrapper">
{% elif message %}
  <div class="message-wrapper">
{% endif %}

<div class="question{% if hidden %} js-hidden related-information{% endif %}" id="{{ name }}">
    <label for="input-{{ name }}">
      <span class="question-heading">
        {% if question_number %}
          <span class="question-number">
            {{ question_number }}
          </span>
        {% endif %}
        {{ question }}
      </span>
      {% if error %}
        <span class="validation-message">
          {{ error }}
        </span>
      {% elif message %}
        <span class="message-content">
          {{ message }}
        </span>
      {% endif %}
    </label>
    {% if hidden and not error %}
      <noscript>
        <span class="hint">
          You may not need to answer this question depending on how you answered an earlier question.
        </span>
      </noscript>
    {% endif %}
    {% if optional %}
      <span class="question-optional">
        <strong>Optional</strong>
      </span>
    {% endif %}
    {% if question_advice %}
    <span class="question-advice" id="{{ question_advice_id }}">
      {{ question_advice }}
    </span>
    {% endif %}
    {% if hint %}
    <span class="hint" id="{{ answer_advice_id }}">
      {{ hint }}
    </span>
    {% endif %}

    {# The actual fields #}
    <fieldset class="text-box-inline-container" id="{{ name }}" >

      {% for display_name, field_name, field_length, field_class in
        [
          ("Day", name + "-day", 2, "text-box-tiny"),
          ("Month", name + "-month", 2, "text-box-tiny"),
          ("Year", name + "-year", 4, "text-box-small")
        ]
      %}
        <div class="text-box-inline-rp">
          <label for="input-{{ field_name }}">{{ display_name }}</label>
          <input
            id="input-{{ field_name }}"
            name="{{ field_name }}"
            type="text"
            pattern="[0-9]*"
            maxlength={{ field_length }}
            class="text-box {{ field_class }}"
            value="{% if name !=  None %}{{ service_data[field_name] }}{% endif %}"
            {% if question_advice or hint %}aria-describedby="{{ [question_advice_id, answer_advice_id]|join(' ') }}"{% endif %}
          />
        </div>
      {% endfor %}
    </fieldset>
  {% if error or message %}
    </div>
  {% endif %}
</div>
