{% if values is not defined %}
  {% set values = [] %}
{% endif %}
{% if error %}
  <div class="validation-wrapper">
{% endif %}
  <fieldset class="question {% if first_question %}first-question{% endif %}" id="{{ id }}">
    <legend class="question-heading {% if hint is defined %}question-heading-with-hint{% endif %}">
      {{ question }}
    </legend>
    {% if hint is defined %}
      <p class="hint">
        {{ hint }}
      </p>
    {% endif %}
    {% if error %}
      <p class="validation-message" id="error-{{ id }}">
        {{ error }}
      </p>
    {% endif %}
    <div class="input-list" data-list-item-name="{{ item_name }}" id="list-entry-{{id}}">
      {% for index in range(1, number_of_items + 1) %}
        <div class="list-entry">
          <label for="{{ id }}-{{ index }}" class="text-box-number-label">
            <span class="visuallyhidden">{{item_name}} number </span>{{ index }}.
          </label>
          <input type="text" name="{{ id }}" id="{{ id }}-{{ index }}" class="text-box" value="{{ values[index] }}" />
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% if error %}
  </div>
{% endif %}
