<div class="govuk-option-select">
  <div class="container-head js-container-head">
    <div class="option-select-label">{{ name }}</div>
  </div>
  <div class="options-container">
    <div class="js-auto-height-inner">
      {% for option in options %}
        <label for="aerospace">
          <input name="{{id}}" value="{{ option.id }}" id="{{ option.id }}" type="checkbox" aria-controls=""{% if option.checked %} checked="checked"{% endif %}>
          {{ option.label }}
        </label>
      {% endfor %}
    </div>
  </div>
</div>
