{% macro _option(label, current) -%}
  {% if label == current %}
    <option value='{{ label }}' selected='selected'>{{ label }}</option>
    {% else %}
    <option value='{{ label }}'>{{ label }}</option>
  {% endif %}
{%- endmacro %}

{% if error %}
  <div class="validation-wrapper">
{% endif %}
  <fieldset class="question first-question" id="{{ name }}">
    <legend>
      <span class="question-heading {% if hint %}question-heading-with-hint{% endif %}">
        {{ question }}
      </span>
      {% if hint %}
        <span class="hint">
          {{ hint }}
        </span>
      {% endif %}
      {% if error %}
        <span class="validation-message" id="error-{{ name }}">
          {{ error }}
        </span>
      {% endif %}
    </legend>
    <div class="pricing">
      {% if 'price' in fields %}
      <div class="pricing-column">
        <label for="input-price">
          Price
          <span class="visually-hidden">in</span>
          <span class="pricing-unit">£</span>
        </label>
        <input type="text" class="text-box pricing-input-with-unit" name="{{ fields.price }}" id="input-price" value="{{ price or "" }}"/>
      </div>
      {% endif %}
      {% if 'minimum_price' in fields %}
      <div class="pricing-column">
        <label for="input-minimum-price">
          Minimum price
          <span class="visually-hidden">in</span>
          <span class="pricing-unit">£</span>
        </label>
        <input type="text" class="text-box pricing-input-with-unit" name="{{ fields.minimum_price }}" id="input-minimum-price" value="{{ minimum_price or "" }}"/>
      </div>
      {% endif %}
      {% if 'maximum_price' in fields %}
      <div class="pricing-column">
        <div class="pricing-preposition">to</div>
      </div>
      <div class="pricing-column">
        <label for="input-minimum-price">
          Maximum price
          <span class="visually-hidden">in</span>
          <span class="pricing-unit">£</span>
        </label>
        <p class="question-hint">Optional</p>
        <input type="text" class="text-box pricing-input-with-unit" name="{{ fields.maximum_price }}" id="input-maximum-price" value="{{ maximum_price or "" }}"/>
      </div>
      {% endif %}
      {% if 'price_unit' in fields %}
      <div class="pricing-column">
        <span class="pricing-preposition">per</span>
      </div>
      <div class="pricing-column">
        <label for="input-price-unit">
          Unit
        </label>
        <select class="pricing-input-select" name="{{ fields.price_unit }}" id="input-price-unit">
          {{ _option("", price_unit) }}
          {{ _option("Unit", price_unit) }}
          {{ _option("Person", price_unit) }}
          {{ _option("Licence", price_unit) }}
          {{ _option("User", price_unit) }}
          {{ _option("Device", price_unit) }}
          {{ _option("Instance", price_unit) }}
          {{ _option("Server", price_unit) }}
          {{ _option("Virtual machine", price_unit) }}
          {{ _option("Transaction", price_unit) }}
          {{ _option("Megabyte", price_unit) }}
          {{ _option("Gigabyte", price_unit) }}
          {{ _option("Terabyte", price_unit) }}
        </select>
      </div>
      {% endif %}
      {% if 'price_interval' in fields %}
      <div class="pricing-column">
        <span class="pricing-preposition">per</span>
      </div>
      <div class="pricing-column">
        <label for="input-pricing-interval">
          Interval
        </label>
        <p class="question-hint">
          Optional
        </p>
        <select class="pricing-input-select" name="{{ fields.price_interval }}" id="input-pricing-interval">
          {{ _option("", price_interval) }}
          {{ _option("Second", price_interval) }}
          {{ _option("Minute", price_interval) }}
          {{ _option("Hour", price_interval) }}
          {{ _option("Day", price_interval) }}
          {{ _option("Week", price_interval) }}
          {{ _option("Month", price_interval) }}
          {{ _option("Quarter", price_interval) }}
          {{ _option("6 months", price_interval) }}
          {{ _option("Year", price_interval) }}
        </select>
      </div>
      {% endif %}
      {% if 'hours_for_price' in fields %}
      <div class="pricing-column">
        <span class="pricing-preposition">for</span>
      </div>
      <div class="pricing-column">
        <label for="input-pricing-hours">
          Hours
        </label>
        <select class="pricing-input-select" name="{{ fields.hours_for_price }}" id="input-pricing-hours">
          {{ _option("", hours_for_price) }}
          {{ _option("1 hour", hours_for_price) }}
          {{ _option("2 hours", hours_for_price) }}
          {{ _option("3 hours", hours_for_price) }}
          {{ _option("4 hours", hours_for_price) }}
          {{ _option("5 hours", hours_for_price) }}
          {{ _option("6 hours", hours_for_price) }}
          {{ _option("7 hours", hours_for_price) }}
          {{ _option("8 hours", hours_for_price) }}
        </select>
      </div>
      {% endif %}
    </div>
  </fieldset>
{% if error %}
  </div>
{% endif %}
