<fieldset class="question first-question">
  <legend class="question-heading">{{ question }}</legend>
  {% if hint is defined %}
    <p class="hint">
      {{ hint }}
    </p>
  {% endif %}
  {% if type == "boolean" %}
    <label class="selection-button selection-button-boolean" for="{{ name }}-yes">
      Yes
      <input type="radio" name="{{ name }}" id="{{ name }}-yes" value="val-1" />
    </label>
    <label class="selection-button selection-button-boolean" for="{{ name }}-no">
      No
      <input type="radio" name="{{ name }}" id="{{ name }}-no" value="val-2" />
    </label>
  {% else %}
    {% for option in options %}
      <label class="selection-button" for="{{ name }}-{{ loop.index }}">
        {{ option.label }}
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}-{{ loop.index }}" value="{{ option.value or option.label }}" />
      </label>
      {% if option.description is defined %}
        <p class="question-description">
          {{ option.description }}
        </p>
      {% endif %}
    {% endfor %}
  {% endif %}
</fieldset>
