<h2 class="summary-item-heading">
    {% if index %}
      <span class="summary-item-heading-number">{{ index }}.</span>
    {% endif %}
    {{ heading }}
</h2>
{% if top_link %}
  <p class="summary-item-top-level-action">
    <a href="{{ top_link }}" class="summary-change-link">{{ top_link_label }}</a>
  </p>
{% endif %}
{% if rows %}
  <table class="summary-item-body">
    <thead class="summary-item-field-headings{% if field_headings_visible %}-visible{% endif %}">
      <tr>
        {% for field_heading in field_headings %}
          <th scope="col" class="summary-item-field-heading{% if loop.first %}-first{% endif %}">
            {{ field_heading }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr class="summary-item-row{% if row.incomplete %}-incomplete{% endif %}">
          {% for field in row.fields %}
            <td class="summary-item-field{% if loop.first %}-first{% endif %}{% if loop.first and wide_first_column %}-wider{% endif %}{% if loop.last and with_action_field %}-with-action{% endif %}">
              <span>{{ field }}</span>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="summary-item-no-content">
    {{ empty_message }}
  </p>
{% endif %}
