<div class="validation-masthead" aria-labelledby="validation-masthead-heading" aria-role="group" tabindex="-1">
  <h1 class="validation-masthead-heading" id="validation-masthead-heading">
    {{ lede or pluralize(errors|length, "There was a problem with your answer to:", "There were problems with your answers to:")}}
  </h1>
  {% if description %}
    <p class="validation-masthead-description">
      {{ description }}
    </p>
  {% endif %}
  {% for error in errors %}
    <a href="#{{ error.input_name }}" class="validation-masthead-link">{{ error.question }}</a>
  {% endfor %}
</div>
