<div class="validation-masthead" aria-labelledby="validation-masthead-heading" aria-role="group" tabindex="-1">
  <p class="validation-masthead-heading" id="validation-masthead-heading">
    {{ lede or "There was a problem with your answer to:"}}
  </p>
  {% if description %}
    <p class="validation-masthead-description">
      {{ description }}
    </p>
  {% endif %}
  {% for error in errors %}
    <a href="#{{ error.input_name }}" class="validation-masthead-link">{{ question.question }}</a>
  {% endfor %}
</div>
