<div class="footer-categories">
  <div class="footer-about">
    <h2>
      About the Digital Marketplace
    </h2>
    <ul>
      <li>
        <a href="{{ url_for('external.help') }}">Contact</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-marketplace-buyers-guide">Services you can buy</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-marketplace-suppliers-guide">Services you can sell</a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/crown-commercial-service">About Crown Commercial Service</a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/government-digital-service">About Government Digital Service</a>
      </li>
      <li>
        <a href="{{ url_for('external.suppliers_list_by_prefix') }}">G-Cloud supplier A–Z</a>
      </li>
    </ul>
  </div>
  <div class="footer-guidance">
    <h2>
        Guidance for using Digital Marketplace
    </h2>
    <ul>
      <li>
        <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">Applying to sell on the G-Cloud framework</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-suppliers-guide">Applying to sell on the DOS framework</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/how-to-sell-your-digital-outcomes-and-specialists-services">Responding to buyer requirements on the DOS framework</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide">Buying on the G-Cloud framework</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-buyers-guide">Buying on the DOS framework</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/the-crown-hosting-data-centres-framework-on-the-digital-marketplace">Buying on the Crown Hosting framework</a>
      </li>
    </ul>
  </div>
  <hr/>
</div>
