@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.text-box {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 0 15px 0;
  padding: 5px;
  border: 1px solid #bfc1c3;
  width: 66%; }
  @media (max-width: 640px) {
    .text-box {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-medium {
  height: 6.25em; }

.text-box-large {
  height: 10.25em; }

.text-box-percentage {
  display: inline-block;
  width: 6em;
  text-align: right;
  padding-right: 5px; }

.text-box-percentage-label {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .text-box-percentage-label {
      font-size: 16px;
      line-height: 1.25; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.selection-button {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  /* Specific to Digital Marketplace */
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 10px 15px 10px 45px;
  /* Specific to Digital Marketplace */
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .selection-button {
      font-size: 16px;
      line-height: 1.25; } }
  .selection-button input {
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer; }
  .selection-button:hover {
    border-color: #0b0c0c; }

.selection-button-boolean {
  clear: none;
  margin-right: 15px; }

.js-enabled label.selection-button-selected {
  background: #fff;
  border-color: #0b0c0c; }

.js-enabled label.selection-button-focused {
  outline: 3px solid #ffbf47; }

.js-enabled .selection-button-focused input:focus {
  outline: none; }

.selection-button-with-description {
  margin-top: 15px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  margin: 15px 0 0 0;
  clear: both; }

.question-first {
  margin-top: 0; }

.question-heading, .question-heading-with-hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .question-heading, .question-heading-with-hint {
      font-size: 18px;
      line-height: 1.2; } }

.question-heading-with-hint {
  margin-bottom: 0; }

.question-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  clear: left; }
  @media (max-width: 640px) {
    .question-description {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0 0 5px 0;
  color: #6f777b; }
  @media (max-width: 640px) {
    .hint {
      font-size: 16px;
      line-height: 1.25; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.word-count {
  margin: 0 0 20px 0; }

.word-count-counter {
  text-align: right;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin: 5px 0 0 0;
  padding: 0;
  color: #6f777b;
  width: 66%; }
  @media (max-width: 640px) {
    .word-count-counter {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.checkbox-filter .head {
  zoom: 1; }
  .checkbox-filter .head:after {
    content: "";
    display: block;
    clear: both; }

.input-list .list-entry {
  vertical-align: middle; }
.input-list .list-entry-remove {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  margin: 0 0 0 0.6em; }
  @media (max-width: 640px) {
    .input-list .list-entry-remove {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .text-box {
  padding-left: 1.84em;
  width: 100%;
  width: 95%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  width: 66%; }
.input-list .text-box-number-label {
  float: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  width: 1.6em;
  margin: 13px -1.6em 0 0;
  position: relative;
  left: 10px;
  color: #bfc1c3;
  font-weight: bold;
  pointer-events: none; }
  @media (max-width: 640px) {
    .input-list .text-box-number-label {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .list-entry-add {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 20px 0; }
  @media (max-width: 640px) {
    .input-list .list-entry-add {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item-heading, .summary-item-heading-first {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading, .summary-item-heading-first {
      font-size: 18px;
      line-height: 1.2; } }

.summary-item-heading-first {
  padding-top: 0; }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }

p.summary-item-body, table.summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #dee0e2; }

p.summary-item-body {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  border-top: 1px solid #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%; }
  @media (max-width: 640px) {
    p.summary-item-body {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body tbody .summary-item-row, .summary-item-row-incomplete {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  text-align: right;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    table.summary-item-body tbody .summary-item-row, .summary-item-row-incomplete {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body {
  border-collapse: collapse;
  border-spacing: 0; }
  table.summary-item-body thead tr {
    position: absolute;
    left: -9999em; }
  table.summary-item-body tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top; }

.summary-item-field-name, .summary-item-field-content, .summary-item-field-action {
  white-space: nowrap;
  vertical-align: middle;
  text-align: left; }

.summary-item-field-name {
  width: 50%;
  padding-right: 25px; }

.summary-item-field-content {
  width: 50%;
  padding-left: 25px; }
  .summary-item-field-content ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }

.summary-item-field-action {
  padding-left: 20px; }

.summary-item-row-incomplete .summary-item-name-field span {
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }
.summary-item-row-incomplete .summary-item-field-content {
  color: #cd4c0b; }
  .summary-item-row-incomplete .summary-item-field-content a {
    color: #cd4c0b; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.checkbox-filter .head {
  zoom: 1; }
  .checkbox-filter .head:after {
    content: "";
    display: block;
    clear: both; }

.filter {
  margin-bottom: 30px;
  background-color: #dee0e2;
  padding: 0 5px; }
  .filter:focus {
    outline: 3px solid #ffbf47; }
  .filter .legend {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px; }
    @media (max-width: 640px) {
      .filter .legend {
        font-size: 16px;
        line-height: 1.25; } }

.radio-filter, .text-filter {
  padding: 0 10px; }
  .radio-filter label, .text-filter label {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline; }

.radio-filter input {
  width: 14px; }

.checkbox-filter {
  padding-bottom: 5px;
  /* Only apply these styles to chrome/firefox/safari and ie8 upwards
     this is because checkbox filters are always open on ie6/7 so no
     need to have closed styles or toggles. */
  /* Redefine scrollbars so they are always visible in scrolling checkbox lists */ }
  .checkbox-filter:hover {
    background-color: #bfc1c3; }
  .checkbox-filter ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  .checkbox-filter ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .checkbox-filter .head {
    padding: 0 5px;
    position: relative; }
    .checkbox-filter .head .controls {
      position: absolute;
      right: 5px;
      top: 10px; }
      .checkbox-filter .head .controls .clear-selected {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        display: inline;
        margin-right: 5px; }
        .checkbox-filter .head .controls .clear-selected.js-hidden {
          left: -9999em;
          position: relative;
          height: 0px;
          overflow: hidden; }
  .checkbox-filter .checkbox-container {
    position: relative;
    margin-top: 5px;
    background-color: #fff;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* IE6 doesn't support psuedo selectors so scoping to checkbox-container instead of using a psuedo selector */ }
    .checkbox-filter .checkbox-container ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .checkbox-filter .checkbox-container ul ul {
        padding-left: 20px; }
    .checkbox-filter .checkbox-container label {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      display: inline;
      padding: 7px 0 7px 30px;
      width: 90%;
      border-bottom: 1px solid #bfc1c3; }
      .checkbox-filter .checkbox-container label:hover {
        background-color: #f8f8f8; }
    .checkbox-filter .checkbox-container input {
      margin-left: -23px;
      vertical-align: top;
      position: absolute; }
