@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.text-box {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 0 15px 0;
  padding: 5px;
  border: 1px solid #bfc1c3;
  width: 66%; }
  @media (max-width: 640px) {
    .text-box {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-medium {
  height: 6.25em; }

.text-box-large {
  height: 10.25em; }

.text-box-percentage {
  display: inline-block;
  width: 6em;
  text-align: right;
  padding-right: 5px; }

.text-box-percentage-label {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .text-box-percentage-label {
      font-size: 16px;
      line-height: 1.25; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.selection-button {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  /* Specific to Digital Marketplace */
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 10px 15px 10px 45px;
<<<<<<< HEAD
  margin-bottom: 15px;
  cursor: pointer; }
    top: 11px;
    left: 15px;
    cursor: pointer; }

.selection-button:hover {
  border-color: #0b0c0c; }

.selection-button-with-description {
  margin-top: 15px; }

.selection-button-selected {
  background: #fff;
  border-color: #0b0c0c; }

.selection-button-focused {
  outline: 3px solid #ffbf47; }
  .selection-button-focused input:focus {
    outline: none; }

.selection-button-boolean {
  clear: none;
  margin-right: 15px; }
=======
    top: 12px;
    left: 15px;
    cursor: pointer; }
  .selection-button:hover {
    border-color: #0b0c0c; }

.selection-button-boolean {
  clear: none;
  margin-right: 15px; }

.js-enabled label.selection-button-selected {
  background: #fff;
  border-color: #0b0c0c; }

.js-enabled label.selection-button-focused {
  outline: 3px solid #ffbf47; }

.js-enabled .selection-button-focused input:focus {
  outline: none; }

.selection-button-with-description {
  margin-top: 15px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question {
  margin: 15px 0 0 0;
  clear: both; }

.first-question {
  margin-top: 0; }

.question-heading, .question-heading-with-hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .question-heading, .question-heading-with-hint {
      font-size: 18px;
      line-height: 1.2; } }

.question-heading-with-hint {
  margin-bottom: 0; }

.question-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  clear: left; }
  @media (max-width: 640px) {
    .question-description {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0 0 5px 0;
  color: #6f777b; }
  @media (max-width: 640px) {
    .hint {
      font-size: 16px;
      line-height: 1.25; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.word-count {
  margin: 0 0 20px 0; }

.word-count-counter {
  text-align: right;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin: 5px 0 0 0;
  padding: 0;
  color: #6f777b;
  width: 66%; }
  @media (max-width: 640px) {
    .word-count-counter {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.input-list .list-entry {
  vertical-align: middle; }
.input-list .list-entry-remove {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  margin: 0 0 0 0.6em; }
  @media (max-width: 640px) {
    .input-list .list-entry-remove {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .text-box {
  padding-left: 1.84em;
  width: 100%;
  width: 95%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  width: 66%; }
.input-list .text-box-number-label {
  float: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  width: 1.6em;
  margin: 13px -1.6em 0 0;
  position: relative;
  left: 10px;
  color: #bfc1c3;
  font-weight: bold;
  pointer-events: none; }
  @media (max-width: 640px) {
    .input-list .text-box-number-label {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .list-entry-add {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 20px 0; }
  @media (max-width: 640px) {
    .input-list .list-entry-add {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item {
  width: 100%;
  margin: 10px 0 15px 0;
  border-collapse: collapse;
  border-spacing: 0; }

.summary-item-heading {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading {
      font-size: 18px;
      line-height: 1.2; } }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }

.summary-item-no-content {
  border-top: 1px solid #dee0e2;
  border-bottom: 1px solid #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 30px 0;
  max-width: 100%; }

.summary-item-field-headings tr {
  position: absolute;
  left: -9999em; }

.summary-item-body {
  border-bottom: 1px solid #dee0e2;
  margin: 0 0 30px 0; }

.summary-item-row {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  text-align: right;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    .summary-item-row {
      font-size: 16px;
      line-height: 1.25; } }
  .summary-item-row td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top; }

.summary-item-content-field, .summary-item-action-field {
  white-space: nowrap;
  padding-left: 20px;
  vertical-align: middle; }

.summary-item-name-field {
  width: 50%;
  text-align: left;
  padding-right: 25px; }

.summary-item-content-field {
  width: 50%;
  padding-left: 25px;
  text-align: left; }
  .summary-item-content-field ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }

.summary-item-row-incomplete .summary-item-name-field span {
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }
.summary-item-row-incomplete .summary-item-content-field {
  color: #cd4c0b; }
  .summary-item-row-incomplete .summary-item-content-field a {
    color: #cd4c0b; }
