@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.button-save {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 25px 0; }
  .button-save:visited {
    background-color: #00823b; }
  .button-save:hover, .button-save:focus {
    background-color: #00692f; }
  .button-save:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button-save.disabled, .button-save[disabled="disabled"], .button-save[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-save.disabled:hover, .button-save[disabled="disabled"]:hover, .button-save[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button-save.disabled:active, .button-save[disabled="disabled"]:active, .button-save[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518; }
  .button-save:link, .button-save:hover, .button-save:focus, .button-save:visited {
    color: #fff; }
  .button-save:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-save:active:before {
    top: -10%;
    height: 120%; }
  .button-save[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  @media (max-width: 640px) {
    .button-save {
      font-size: 16px;
      line-height: 1.25; } }

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  .button-secondary:visited {
    background-color: #dee0e2; }
  .button-secondary:hover, .button-secondary:focus {
    background-color: #d0d3d6; }
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe; }
  .button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  @media (max-width: 640px) {
    .button-secondary {
      font-size: 16px;
      line-height: 1.25; } }

.button-destructive {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  .button-destructive:visited {
    background-color: #b10e1e; }
  .button-destructive:hover, .button-destructive:focus {
    background-color: #990c1a; }
  .button-destructive:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  .button-destructive.disabled, .button-destructive[disabled="disabled"], .button-destructive[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-destructive.disabled:hover, .button-destructive[disabled="disabled"]:hover, .button-destructive[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    .button-destructive.disabled:active, .button-destructive[disabled="disabled"]:active, .button-destructive[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812; }
  .button-destructive:link, .button-destructive:hover, .button-destructive:focus, .button-destructive:visited {
    color: #fff; }
  .button-destructive:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-destructive:active:before {
    top: -10%;
    height: 120%; }
  .button-destructive[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  @media (max-width: 640px) {
    .button-destructive {
      font-size: 16px;
      line-height: 1.25; } }
