@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.banner, .banner-destructive, .banner-warning, .banner-success {
  background: #f8f8f8;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding: 20px 20px 25px 20px;
  margin-top: 15px; }
  @media (max-width: 640px) {
    .banner, .banner-destructive, .banner-warning, .banner-success {
      font-size: 18px;
      line-height: 1.2; } }

.banner-destructive {
  border-left: 5px solid #b10e1e;
  color: #b10e1e; }

.banner-warning {
  border-left: 5px solid #cd4c0b;
  color: #cd4c0b; }

.banner-success {
  border-left: 5px solid #006435;
  color: #006435; }

.banner-without-action {
  padding: 20px 20px 20px 20px; }

.banner-action {
  margin-top: 15px; }

.banner-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 640px) {
    .banner-message {
      font-size: 18px;
      line-height: 1.2; } }
