@import "_colours";
@import "_typography.scss";

.question {
  margin: 15px 0 0 0;
  clear: both;
}

.first-question {
  margin-top: 0;
}

.question-heading {
  display: block;
  @include heading-24;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.question-heading-with-hint {
  @extend .question-heading;
  margin-bottom: 0;
}

.question-description {
  @include copy-19;
  margin: 0 0 10px 0;
  clear: left;
}
