@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.text-box {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 0 15px 0;
  padding: 5px;
  border: 1px solid #bfc1c3; }
  @media (max-width: 640px) {
    .text-box {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 769px) {
    .text-box {
      width: 66%; } }

.text-box-medium {
  height: 6.25em; }

.text-box-large {
  height: 10.25em; }

.text-box-percentage {
  display: inline-block;
  width: 6em;
  text-align: right;
  padding-right: 5px; }

.text-box-percentage-label {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .text-box-percentage-label {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question-heading {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  font-weight: bold;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .question-heading {
      font-size: 18px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .question-heading {
      padding-top: 6px;
      padding-bottom: 4px; } }

.question-heading-with-hint {
  margin-bottom: 0; }

.question-hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  margin: 0 0 5px 0;
  color: #6f777b; }
  @media (max-width: 640px) {
    .question-hint {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .question-hint {
      padding-top: 0;
      padding-bottom: 5px; } }

.question-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  margin: 0 0 10px 0;
  clear: left; }
  @media (max-width: 640px) {
    .question-description {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .question-description {
      padding-top: 0;
      padding-bottom: 5px; } }
