{% extends "toolkit/layouts/_base_page.html" %}

{% block page_title %}Page could not be found - Digital Marketplace{% endblock %}

{% block main_content %}

<div class="error-page">
  <header class="page-heading-smaller">
    <h1>Page could not be found</h1>
  </header>

  <p>
      Check you’ve entered the correct web address or start again on the Digital Marketplace homepage.
  </p>
  <p>
      If you can’t find what you’re looking for, contact us at <a href="mailto:cloud_digital@crowncommercial.gov.uk?subject=Digital%20Marketplace%20feedback" title="Please send feedback to cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a>
  </p>
</div>

{% endblock %}
