{% extends "toolkit/layouts/_base_page.html" %}

{% block page_title %}Service no longer available - Digital Marketplace{% endblock %}

{% block main_content %}

<div class="error-page">
    <header class="page-heading-smaller">
        <h1>Page no longer available</h1>
    </header>
    <p>
        The page you requested is no longer available on the Digital Marketplace.
    </p>
    <p>
        If you can't find what you're looking for, email <a href="mailto:cloud_digital@crowncommercial.gov.uk?subject=Digital%20Marketplace%20page%20gone" title="Please send feedback to cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a>
    </p>

</div>

{% endblock %}
