$path : '../images/';
@import "grids/index.scss";
@import "colours";

// Toolkit components
@import "_phase-banner.scss";
@import "_breadcrumb.scss";
@import "_buttons.scss";
@import "_digital-marketplace-colours.scss";
@import "_document.scss";
@import "_notification-banners.scss";
@import "_page-headings.scss";
@import "_search-result-wrapper.scss";
@import "_browse_list.scss";
@import "_contact-details.scss";
@import "search/_search-summary.scss";
@import "forms/_hint.scss";
@import "forms/_list-entry.scss";
@import "forms/_option-select.scss";
@import "forms/_questions.scss";
@import "forms/_selection-buttons.scss";
@import "forms/_summary.scss";
@import "forms/_textboxes.scss";
@import "forms/_validation.scss";
@import "forms/_word-counter.scss";
@import "forms/_upload.scss";


#wrapper {
  @extend %site-width-container;
}

.code {

  box-shadow: inset 0 0 50px 0 rgba(50, 20, 0, .025);
  background: rgb(250, 250, 250);
  padding: 10px 10px 15px 15px;
  font-family: monospace;
  font-size: 17px;
  margin-bottom: 30px;
  color: #888;
  position: relative;
  overflow: scroll;

  &:hover {
    color: #111;
  }

}

.code-label {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  z-index: 100;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}


a.version-link {

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

}

.index-list {

  @include core-19;
  padding: 0 0 $gutter*2 0;

  li {
    margin-bottom: 5px;
    list-style: none;
  }

}
