$path : '../images/';
@import "colours";

/* Blocks shared between multiple selectors */
@import "shared_placeholders/_temporary-messages.scss";
@import "shared_placeholders/_dm-typography.scss";

// Toolkit components
@import "_grids";
@import "_phase-banner.scss";
@import "_secondary-action-link.scss";
@import "_breadcrumb.scss";
@import "_buttons.scss";
@import "_digital-marketplace-colours.scss";
@import "_document.scss";
@import "_notification-banners.scss";
@import "_page-headings.scss";
@import "_browse-list.scss";
@import "_instruction-list.scss";
@import "_contact-details.scss";
@import "_previous-next-navigation.scss";
@import "_service-id.scss";
@import "_link-button.scss";
@import "_temporary-message.scss";
@import "search/_search-summary.scss";
@import "forms/_hint.scss";
@import "forms/_list-entry.scss";
@import "forms/_option-select.scss";
@import "forms/_keyword-search.scss";
@import "forms/_pricing.scss";
@import "forms/_questions.scss";
@import "forms/_selection-buttons.scss";
@import "forms/_summary.scss";
@import "forms/_textboxes.scss";
@import "forms/_validation.scss";
@import "forms/_word-counter.scss";
@import "forms/_upload.scss";
@import "forms/_combinations.scss";

// Styles for example pages
@import "grids/index.scss";

#wrapper {
  @extend %site-width-container;
}

.code {

  $code-background: rgb(250, 250, 250);
  $code-keyline: rgb(230, 230, 230);

  background: rgb(245, 245, 245);
  background-image: linear-gradient(
      0deg,
      $code-background 0,
      $code-background 1.2em,
      $code-keyline 1.2em,
      $code-keyline 1.25em
    );
  background-size: 1.25em 1.25em;
  background-position: 0 10px;
  box-shadow: inset 0 0 0 1px $code-keyline, inset 0 3em 0 0 $code-background;
  padding: 10px 10px 15px 15px;
  font-family: monospace;
  font-size: 17px;
  margin: $gutter/2 0;
  color: $grey-1;
  position: relative;
  max-height: 1em;
  overflow: hidden;
  cursor: pointer;

  &:before {
    content: "\25b6";
    color: rgba($grey-1, 0.5);
  }

  &:hover {

    &:before {
      color: $grey-1;
    }

  }

  .highlight {
    display: none;
    overflow: scroll;
    background: transparent !important;
  }

  &.open {

    cursor: default;
    max-height: none;
    padding-bottom: 5px;

    &:before {
      content: "\25bc";
      cursor: pointer;
    }

    .highlight {
      display: block;
    }

  }

}

.code-label {
  text-align: right;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px 5px 0;
  z-index: 100;
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
  cursor: pointer;
}


a.version-link {

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

}

.index-list {

  @include core-19;
  padding: 0 0 $gutter*2 0;

  li {
    list-style: none;
  }

  a {
    display: inline-block;
    margin-bottom: 5px;
  }

  .index-list {
    padding: 0 0 0 $gutter-half;
  }

}

.page-description {
  margin-bottom: $gutter;
  @include heading-24;
}
