@import "_typography.scss";
@import "_measurements.scss";

.search-summary {
  @include core-19;
  strong {
    font-weight: bold;
  }
}

.search-results-page .search-summary, .search-suggestion{
  border-bottom: 1px solid $border-colour;
  padding: 0 0 $gutter-one-third;
  margin-bottom: $gutter-half;
}

.search-summary .search-summary-count {
  @include bold-19;
}

.search-suggestion {
  @include core-16;

  @include media(tablet) {
    @include core-16;
  }
}