@import "_grid_layout.scss";
@import "_typography.scss";
@import "_colours.scss";
@import "_css3.scss";

.grid-example {
  background: rgba($red, 0.1);
  box-shadow:
    inset -15px 0 0 0 rgba($red, 0.1),
    inset  15px 0 0 0 rgba($red, 0.1),
    inset 0 0 0 1px rgba($red, 0.3);
  min-height: 20vh;

  p {
    margin: 0;
    color: rgba($red, 0.3);
  }

}
